@font-face {
    font-family: director;
    src: url('fonts/Director-Regular.woff2');
    font-weight:normal;
}
@font-face {
    font-family: director;
    src: url('fonts/Director-Bold.woff2');
    font-weight:bold;

}
@font-face{
    font-family: director;
    src: url('fonts/Director-Light.woff2');
    font-weight: lighter;
}