@import url('../../_assets/fonts.css');

html{
    font-size:12px;
}
html, body{
    margin:0;
    padding:0;
    font-family:director;
    font-weight:normal;
    height:100%;
}

main{
    display:flex;
    align-items: center;
    justify-content:center;
    height:100%;
    width:100%;
    flex-direction: column;

}

h2{
    font-weight:normal;
    font-size:1rem;
    line-height:2rem;
}

input{
    display:block;
    margin:1rem;
    border:1px solid black;
    background:white;
}