@import url('../../_assets/fonts.css');

html{
    font-size:12px;
}
html, body{
    margin:0;
    padding:0;
    font-family:director;
    font-weight:normal;
    height:100%;
}

*{
    box-sizing: border-box;
}
body>header{
    position:fixed;
    top:50vh;
    left:2rem;

    transform:translateX(-50%) rotate(90deg);
}
h1{
    font-weight:normal;
    text-transform:lowercase;
    line-height: 2rem;
    font-size:calc(1.5rem * 0.9); 
    margin:1rem 0 1rem 0;
    text-align:center;
}
h2{
    font-weight:normal;
    line-height:2rem;
    font-size:calc(2rem * 0.9);
    margin:0;
    text-align:center;
}
body{
    background:#FFF;
}

main{
    max-width: 1200px;
    margin: 0 0 0 4rem;
    padding: 0;
    min-height: 100%;
    
    height: 100%;
    
}
section.ui{
    width:100%;
    display:flex;
    min-height:100%;
    border-left: 1px solid black;

}
section.ui header{
    display:flex;

}
section.ui header h2{
    flex:0 1 100%;
}
section.ui>section{
    flex:0 1 33%;
    padding:1rem 0;
    position:relative;
    border-right:1px solid black;

}
section.ui>section.hidden{
    display:none;

}
div.tools{
    position:relative;
    right:0;
    display:flex;
}

.listing li{
    display:flex;

}
.listing li input[type="text"]{
    font-size:calc(2rem * 0.9);
    font-family:director;
    height:2rem;
    border:0;
    outline:none;
    padding:0 1rem;
}
.listing li div.tools{
    align-self: center;
    flex-direction: row-reverse;
    flex: 0 1 50%;

}

.listing li div.tools .delimiter{
    flex-basis: 100%;
}

.delimiter ~ span{
    border-top:0;
}

.listing li div.name{
    padding-left:1rem;
    flex:0 1 100%;
    align-self:center;
}

ul{
    margin:2rem 0 0 0;
    list-style: none;
    padding:0;
    position:relative;
}
li{
    line-height:2rem;
    font-size:calc(2rem * 0.9);
    padding:1rem 0 1rem 0;
    position:relative;
}
li:hover, li.active{
    border:1px solid black;
    border-right:0;
    border-left:0;
}


li.active + li:hover{
    border-top:0;
}


   
li.active+li:hover{
    border-top:0;
}

section.ui section div{
    display:flex;
    flex-wrap:wrap;
}


section.ui section.links{
    flex:0 1 15%;
}

.links-container li{
    position:absolute;
    height:10px;
    margin-top:-5px;
    padding:0;
    transform-origin: center left;

}
.links-container li:hover{
    border:0;
    opacity:0.3;
    cursor: url("../../_assets/icons/x.svg") 10 10, auto;
    
}
.links-container li:after{
    content:'';
    position: relative;
    top:3px;
    left:-1px;
    height:1px;
    border-bottom:1px solid black;
    width:100%;
    display:block;

}

footer{
    position:absolute;
    top:0;
    right:0;
}

footer .tools:first-child .button{
    border-left:1px solid black;
    border-right:0;
    border-top:0;
}

.button{
    display:inline-block;
    padding:0.2rem;
    cursor:pointer;
    border:1px solid black;
    border-right:none;
    width:2rem;
    height:2rem;
    font-weight:bold;
    background-size:contain;
    background-position: center center;
    background-repeat:no-repeat;
    background-size:90%;
    

}
.tools:first-child .button{
    border-right:1px solid black;
    border-left:none;
}
.button:hover, .button.active{
    filter:invert(100%);
    border:1px solid #FFF;
}
.button.add{
    background:url('../../_assets/icons/plus.svg') no-repeat center center #FFF;
}
.button.links-right{
    background:url('../../_assets/icons/links-right.svg') no-repeat center center #FFF;
    background-size:80%;

}
.button.links-left{
    background:url('../../_assets/icons/links-left.svg') no-repeat center center #FFF;
    background-size:80%;

}
.button.delete{
    background:url('../../_assets/icons/trash.svg') no-repeat center center #FFF;
    background-size:80%;

}
.button.go{
    background:url('../../_assets/icons/arrow-right.svg') no-repeat center center #FFF;
}
.button.move{
    background:url('../../_assets/icons/move.svg') no-repeat center center #FFF;
    background-size:80%;
}
.button.copy{
    background:url('../../_assets/icons/copy.svg') no-repeat center center #FFF;
    background-size:80%;
}
.button.write{
    background:url('../../_assets/icons/edit.svg') no-repeat center center #FFF;
    background-size:80%;
}

.button.design{
    background:url('../../_assets/icons/book-open.svg') no-repeat center center #FFF;
    background-size:80%;
}
.button.lock{
    background:url('../../_assets/icons/unlock.svg') no-repeat center center #FFF;
    background-size:80%;
}
.button.lock.locked{
    background:url('../../_assets/icons/lock.svg') no-repeat center center #FFF;
    background-size:80%;
}
.button.passwd{
    background:url('../../_assets/icons/key.svg') no-repeat center center #FFF;
    background-size:80%;
}