@font-face {
    font-family: director;
    src: url('../../_assets/fonts/Director-Regular.woff2');
    font-weight:normal;
}
@font-face {
    font-family: director;
    src: url('../../_assets/fonts/Director-Bold.woff2');
    font-weight:bold;

}
@font-face{
    font-family: director;
    src: url('../../_assets/fonts/Director-Light.woff2');
    font-weight: lighter;
}
@font-face{
    font-family: zaratoustra;
    src: url('../../_assets/fonts/zarathustra-v01.otf');
    font-weight: normal;
}
@font-face{
    font-family: quando;
    src: url('../../_assets/fonts/Quando-Regular.ttf');
    font-weight: normal;
}
@font-face {
    font-family: liberation;
    src: url('../../_assets/fonts/LiberationSans-Regular.ttf');
    font-weight:normal;
}
@font-face {
    font-family: liberation;
    src: url('../../_assets/fonts/LiberationSans-Bold.ttf');
    font-weight:bold;

}
@font-face{
    font-family: liberation;
    src: url('../../_assets/fonts/LiberationSans-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}
@font-face{
    font-family: liberation;
    src: url('../../_assets/fonts/LiberationSans-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}
*{
    box-sizing: border-box;
}

html{
    font-size:12px;
}


body{
    font-family:director;
    margin:0;
    padding:0;
}

header+.block{
    break-before:left;
    color:black;
}
.block{
    margin:1rem 0;
}
.block .block{
    margin-left:2rem;
}


.block[data-pad-n="1"]{
    font-family:liberation;
}
.block[data-pad-n="3"]{
    font-family:zaratoustra;
}
.block[data-pad-n="2"]{
    font-family:director;
}
.bracket{
    display:none;
}

h1{

    font-family:zaratoustra;
    font-size:80pt;
    word-wrap: break-word;
    font-weight:normal;
}

.itf-header{
    position:relative;
    right:0;
    top:0;
    width:100%;
    display:none;

}
.itf-header .tools{
    position:absolute;
    top:0;
    right:0;
}
.settings{
    
    background:#EEE;
    display:none;
}

.settings.active{
    display:block;
}

.settings div{
    padding:1rem;
}

.settings textarea{
    display:block;
    margin-bottom:1rem;
}

.settings select, .settings button{
    background:transparent;
    border:1px solid black;
    border-radius: 0;
}

.button{
    display:inline-block;
    padding:0.2rem;
    cursor:pointer;
    border:1px solid black;
    border-top:none;
    border-right:none;
    width:2rem;
    height:2rem;
    font-weight:bold;
    background-size:contain;
    background-position: center center;
    background-repeat:no-repeat;
    background-size:90%;
    

}

.button.settings{
    background:url('../../_assets/icons/settings.svg') no-repeat center center #FFF;
    background-size:80%;
}

@media screen, pagedjs-ignore{
    .itf-header{
        display:block;
    }
    main{
        margin-bottom:2rem;
    }
}