@font-face {
    font-family: director;
    src: url('../../_assets/fonts/Director-Regular.woff2');
    font-weight:normal;
}
@font-face {
    font-family: director;
    src: url('../../_assets/fonts/Director-Bold.woff2');
    font-weight:bold;

}
@font-face{
    font-family: director;
    src: url('../../_assets/fonts/Director-Light.woff2');
    font-weight: lighter;
}
@font-face {
    font-family: liberation;
    src: url('../../_assets/fonts/LiberationSans-Regular.ttf');
    font-weight:normal;
}
@font-face {
    font-family: liberation;
    src: url('../../_assets/fonts/LiberationSans-Bold.ttf');
    font-weight:bold;

}
@font-face{
    font-family: liberation;
    src: url('../../_assets/fonts/LiberationSans-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}
@font-face{
    font-family: liberation;
    src: url('../../_assets/fonts/LiberationSans-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}

@keyframes fade {
    0%,100% { opacity: 0 }
    50% { opacity: 1 }
}

html{
    font-size:12px;
}

html, body{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    font-family:director;
    font-weight:normal;

}
*{
    box-sizing: border-box;
}
body>header{
    position: fixed;
    top: 0;
    left: 0;
    
    height: 100vh;
    width: 3rem;
    background: white;
    z-index: 100;
    border-right: 1px solid black;
}

header > h1{
    width: 100vh;
    rotate: 90deg;
    transform-origin: bottom left;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 3rem;
    margin: 0;
}
h1{
    font-weight:normal;
    text-transform:lowercase;
    line-height: 2rem;
    font-size:calc(1.5rem * 0.9); 
    margin:1rem 0 1rem 0;
    text-align:center;
}
h2{
    font-weight:normal;
    line-height:2rem;
    font-size:calc(2rem * 0.9);
    margin:0;
    padding:1rem;
    text-align:center;
}


.loader{
    height:16rem;
    background:#EEE;
    animation:fade 1s linear infinite;
    opacity:1;

}

main{
    height:100%;
    width:calc(100% - 3rem);
    margin-left:3rem;
    display: flex;
    position:relative;
}
section{
    flex:1 1 100%;
    
    height:100%;
    display:flex;
    flex-direction: column;

}

section.pad{
    border-left:1px solid black;
    height:100%;
    position:relative;
    flex:0 0;
}

section.pad:last-child{
    border-right:1px solid black;
}

section.pad.selectable{
    cursor:pointer;
    

}
section.pad.selectable:hover:before{
    content:'';
    background:#F00;
    opacity:0.2;
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    z-index:1000;
}

header.pad-header{
    display:flex;

}
.pad-header .tools{
    padding-top:1rem;
}
.pad-header h2{
    flex-basis: 100%;;
}


.settings{
    
    background:#EEE;
    display:none;
}

.settings.active{
    display:block;
}

.settings div{
    margin:1rem;
}

.settings select, .settings button{
    background:transparent;
    border:1px solid black;
    border-radius: 0;
}
select option:hover{
    background:yellow;
}

.settings input[type="range"]{
    height: 1px;
    background: #000;
    -webkit-appearance: none;
    appearance: none;
}


input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 5px;
    height: 5px;
    border-radius: 50%; 
    background: #000;
    cursor: pointer;
  }
  
  input[type="range"]::-moz-range-thumb {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #000;
    border-color:#000;
    cursor: pointer;
  }

div.pad-content{
    height:calc(100% - 2rem);
    overflow:auto;
}


div.pad-content div.tools{
    text-align:right;
    margin:2rem 0;
}

div.pad-content .block{
   
    position:relative;
}



div.pad-content .block-main{
    display:flex;
    margin:0 0 1rem 1rem;
    font-family:liberation;

}

div.pad-content .block-main h2, div.pad-content .block-main h1{
   
    font-size:calc(2em * 0.9);
    line-height:calc(1em * (1 + 1 - 0.9));
    padding:calc(1em * (1 + 1 - 0.9));;
}

div.pad-content .block-main h3{
    font-weight:bold;
    font-size:calc(1em * 0.9);
    line-height:calc(1em * (1 + 1 - 0.9));
    padding:calc(1em * (1 + 1 - 0.9));
    margin:0;
}
div.pad-content .block-main p{
    font-size:calc(1em * 0.9);
    line-height:calc(1em * (1 + 1 - 0.9));
    margin:calc(1em * (1 + 1 - 0.9));

} 

div.pad-content .block-main.new-block{
    margin-right:6rem;
}
div.pad-content img{
    max-width:100%;
    height:auto;
}

.selection{
    display:inline-block;
}
.selection img{
    opacity:0.7;
}

span.highlight-relation{
    
    position:relative;
    display:inline-block;
    top:-0.5em;
    font-family:director;
    font-size:1rem;
    margin-right:4px;
}


.pad[data-ndisplaymode="1"] span.highlight-relation .short-name, .block-relation .short-name{
    display:none;
}
.pad[data-ndisplaymode="2"] span.highlight-relation .full-name{
    display:none;
}
.pad[data-ndisplaymode="3"] span.highlight-relation .rel-from, .pad[data-ndisplaymode="3"] span.highlight-relation .rel-to{
    display:none;
}

.relation.active, .selection.active{
    background:rgba(255, 255, 0, 0.5) !important;
}
.relation{
    font-size:1rem;
    line-height:1.5rem;
}

.relation span{
    display:inline-block;
}

.relation span.rel-from:after{
    content:' → ';
}
.relation span.rel-to:after{
    content:':';
}

div.block div.block-relation{
    margin-left:1rem;
    display:inline-block;
    
}
div.block>div div.tools{
    flex:0 0 4rem;
    min-height:4rem;
    display:flex;
    flex-direction: column;
    margin-top:0;
    position: sticky;
    align-self: flex-start;
    top: 0;
    
}
div.block>div div.tools .button{
    border-left:0;
    border-right:1px solid black;
    border-bottom:0;
}
div.block > div div.tools .button:last-child{
    border-bottom: 1px solid black;
}
div.pad-content .block-content{
    border-right:1px solid black;
    border-top:1px solid black;
    padding-right:1rem;
    flex:1 1 100%;
    width:100%;
    
}

.ck.ck-editor{
    width:100% !important;

}
.ck-editor__editable_inline {
    min-height: 16rem;
}






.bracket{
    color: #ccc;
    font-weight:normal;
}
.bracket span{
    color:#000;
}


.right{
    flex: 1 1 0%;
}
.resizer{

    cursor: col-resize;
    position: absolute;

    user-select: none;
    width: 5px;
    height:100%;
    top:0;
    right:-3px;

    z-index:10;
}


.button{
    display:inline-block;
    padding:0.2rem;
    cursor:pointer;
    border:1px solid black;
    border-right:none;
    width:2rem;
    height:2rem;
    font-weight:bold;
    background-size:contain;
    background-position: center center;
    background-repeat:no-repeat;
    background-size:90%;
    

}
div.pad-content .tools:first-child .button{
    border-left:1px solid black;
    border-right:none;
}
.tools:first-child .button{
    border-right:1px solid black;
    border-left:none;
}
.button:hover, .button.active{
    filter:invert(100%);
    border:1px solid #FFF;
}
.button.add{
    background:url('../../_assets/icons/plus.svg') no-repeat center center #FFF;
}

.button.edit{
    background:url('../../_assets/icons/edit-2.svg') no-repeat center center #FFF;
    background-size:80%;
}
.button.highlight{
    background:url('../../_assets/icons/edit-3.svg') no-repeat center center #FFF;
    background-size:80%;
}

.button.links-right{
    background:url('../../_assets/icons/links-right.svg') no-repeat center center #FFF;
    background-size:80%;

}
.button.links-left{
    background:url('../../_assets/icons/links-left.svg') no-repeat center center #FFF;
    background-size:80%;

}
.button.delete{
    background:url('../../_assets/icons/trash.svg') no-repeat center center #FFF;
    background-size:80%;

}
.button.go{
    background:url('../../_assets/icons/arrow-right.svg') no-repeat center center #FFF;
}
.button.move{
    background:url('../../_assets/icons/move.svg') no-repeat center center #FFF;
    background-size:80%;
}
.button.menu{
    background:url('../../_assets/icons/menu.svg') no-repeat center center #FFF;
    background-size:80%;
}
.button.settings{
    background:url('../../_assets/icons/settings.svg') no-repeat center center #FFF;
    background-size:80%;
}

.button.write{
    background:url('../../_assets/icons/edit.svg') no-repeat center center #FFF;
    background-size:80%;
}

.button.design{
    background:url('../../_assets/icons/book-open.svg') no-repeat center center #FFF;
    background-size:80%;
}
.button.lock{
    background:url('../../_assets/icons/unlock.svg') no-repeat center center #FFF;
    background-size:80%;
}
.button.lock.active{
    background:url('../../_assets/icons/lock.svg') no-repeat center center #FFF;
    background-size:80%;
}